body {
    background-color: #313030;
    color: #F7F7F7;
    font-family: monospace;
}

#placeholer {
    margin-left: 5px;
}

.caret::after {
    content: "";
    width: 10px;
    height: 25px;
    background-color: #5D5D5D;
    top: 8px;
    position: relative;
    display: inline-block;
}